<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="FoodFour_FINAL.FoodFour_FINAL" 
          versionCode="1" 
          versionName="1.0">
  <uses-sdk minSdkVersion="21" />
  <application allowBackup="true">
  </application>
</manifest>